/* Custom color theme */
:root {
  --f7-theme-color: #fbdff0;
  --f7-theme-color-rgb: 251, 223, 240;
  --f7-theme-color-shade: #f6bbdf;
  --f7-theme-color-tint: #ffffff;
}

.style1 {}
.style2 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}
.style3 {
    margin-top: -20px;
    padding-top: 0px
}
.style4 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px
}
.buttonz {
    float: right}
.buttonz.ray {}
.style5 {
    width: 50px;
    float: right;
    background-color: #ff0434;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px
}
.style1.new1 {}
.style6 {}
.comeon {}
.comeon {
    font-weight: bold;
    padding-right: 8px;width: 100px;
    border-top-left-radius: 38px !important;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    min-width: 24px
}
a.button.button-fill.comeon {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex 
}
a.button.button-fill.comeon { 
}
.newclass {
    width: 100px;
    min-width: 0px;
    font-size: 25px !important}
.style7 {
  line-height: 8.6;
  font-size: 37px;
}
.newclass.stuff {
  text-align: center;}
.stuff {}
.stuff.new {
  text-align: center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.style8 {
  float: none;
}
.style9 {
  float: none;
}
.default {
  float: none;}
.default.new {}
.style10 {}
.why {}
.why.not {}
.why.not.still {
  display: inline-block;
  float: left !important;
  text-align: left !important;}
.is-this {}
.is-this.a-bug {
  height: 20px;}
.lets-go {}
.lets-go.ddd {}
.style11 {}
.rf {}
.rf.et {}
.ex {}
.ex.df {}
.cuss {}
.cuss.storm {
}
.tess {}
.tess.ting {
  position: relative;
  bottom: -100px;
  overflow: hidden;
  display: block;
  padding-right: 32px;
}
.style12 {
          -webkit-box-align: baseline;
              -ms-flex-align: baseline;
                  -webkit-box-pack: space-evenly;
                      -ms-flex-pack: space-evenly;
                          justify-content: space-evenly;
                      -webkit-box-orient: vertical;
                              -ms-flex-wrap: wrap;
                                  flex-wrap: wrap;
                                  -ms-flex-line-pack: center;
                                      align-content: center;}
.style13 {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  -ms-flex-wrap: wrap;
                      flex-wrap: wrap;
                      -webkit-box-orient: vertical;
                      -webkit-box-direction: normal;
                          -ms-flex-direction: column;
                              flex-direction: column;
                              -webkit-box-align: stretch;
                                  -ms-flex-align: stretch;
                                      align-items: stretch;
}
.storm {}
.storm.zee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-orient: horizontal;
          -ms-flex-wrap: wrap-reverse;
              -ms-flex-line-pack: distribute;
                  align-content: space-around;
}
.dfdf {}
.dfdf.dsfds {}
.dfdf.dsfds.ddddd {
}
.xcg {}
.xcg.zsdfsaf {}
.xcg.zsdfsaf.zxc {}
@media (min-width: 1200px) {
.xcg.zsdfsaf.zxc {
    width: 50%;
  }
.pccols1.pccols2.pccols3 {
    width: 50%;
  }
}
.pccols1.pccols2.pccols3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
                  justify-content: center;
                      -ms-flex-wrap: wrap;
                          flex-wrap: wrap;
                          -ms-flex-line-pack: center;
                              align-content: center;
                              align-items: center;
                              -webkit-box-orient: vertical;
}
@media (min-width: 992px) {
.pccols1.pccols2.pccols3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    -ms-flex-wrap: wrap;
                    -webkit-box-pack: start;
                        -ms-flex-pack: start;
                        -webkit-box-orient: vertical;
                                -ms-flex-line-pack: center;
                                    align-content: center;
                                    -webkit-box-pack: end;
                                        -ms-flex-pack: end;
                                        -webkit-box-align: stretch;
                                            -ms-flex-align: stretch;
  }
}
.rdtd {}
.rdtd.drtrt.dtdrtdrt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          -webkit-box-align: baseline;
              -ms-flex-align: baseline;
                  align-items: baseline;
                  -webkit-box-orient: horizontal;}
.style14 {
  background-size: auto;
}